stages:
  - verify
  - notify

variables:
  RESTART_FLAG: "/tmp/restart_docker.lock"

image: rohimuhamadd/alpine-ci-cd:latest

.default_before_script: &default_before_script
  before_script:
    - ln -sf /usr/share/zoneinfo/Asia/Jakarta /etc/localtime
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" > /tmp/deploy_key
    - chmod 600 /tmp/deploy_key
    - ssh-add /tmp/deploy_key
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan -H ${DEPLOY_SERVER_STAGING} >> ~/.ssh/known_hosts
    - mkdir -p /tmp/scripts
    - |
      scp -o StrictHostKeyChecking=no "${SSH_USER_STAGING:-SSH_USER_PROD}"@"${DEPLOY_SERVER_STAGING:-DEPLOY_SERVER_PROD}":/home/albert/script/send_notification.sh /tmp/scripts/
      if [ -f "/tmp/scripts/send_notification.sh" ]; then
        echo "✅ File successfully copied."
        dos2unix /tmp/scripts/send_notification.sh
        tr -d '\r' < /tmp/scripts/send_notification.sh > /tmp/scripts/send_notification_fixed.sh
        mv /tmp/scripts/send_notification_fixed.sh /tmp/scripts/send_notification.sh
        chmod +x /tmp/scripts/send_notification.sh
      else
        echo "❌ Error: /tmp/scripts/send_notification.sh not found!"
        exit 1
      fi

.default_prod_rule: &default_prod_rule
  - if: '$CI_COMMIT_BRANCH == "production" && $CI_PIPELINE_SOURCE == "push"'
    when: always

.default_staging_rule: &default_staging_rule
  - if: '$CI_COMMIT_BRANCH == $BRANCH_STAGING'

# PRE-MERGE
check_base_branch:
  stage: verify
  tags: [ test4 ]
  <<: *default_before_script
  allow_failure: false
  script:
    - git fetch origin main
    - |
      if git merge-base --is-ancestor origin/main HEAD; then
        echo "✅ Branch berasal dari main atau lebih baru."
      else
        echo "❌ Branch tidak diturunkan dari main terbaru!"
        exit 1
      fi
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && ($CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "staging" || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "production")'
      when: always
    - when: never

notify_check_base_branch_failed:
  stage: notify
  tags: [test4]
  <<: *default_before_script
  script:
    - MR_TITLE="$CI_MERGE_REQUEST_TITLE"
    - MR_URL="$CI_PROJECT_URL/-/merge_requests/$CI_MERGE_REQUEST_IID"
    - MR_LINK="[$MR_TITLE]($MR_URL)"
    - AUTHOR_NAME=$(echo "$CI_COMMIT_AUTHOR" | sed -E 's/^(.*) <.*>$/\1/')
    - MR_AUTHOR="**$AUTHOR_NAME**"
    - /tmp/scripts/send_notification.sh "❌ $MR_LINK Created by $MR_AUTHOR" "Error" 15158332 "Validation Base Branch Failed!" "$WEBHOOK_URL_TEST"
  needs:
    - job: check_base_branch
      artifacts: false
      optional: true
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && ($CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "staging" || $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "production")'
      when: on_failure
    - when: never