# postgresql env variables
POSTGRES_DB=postgres                    # <tidak perlu diubah>
POSTGRES_USER=your_odoo_user            # user postgres
POSTGRES_PASSWORD=your_odoo_password    # password postgres
PGDATA=/var/lib/pgsql/data/pgdata       # path storage data postgres <tidak perlu diubah>

# odoo env variables
HOST=your_postgres_docker_service       # service postgres di docker-compose.yaml
USER=your_postgres_user                 # user untuk odoo <samakan dengan POSTGRES_USER>
PASSWORD=your_postgres_password         # password untuk odoo <samakan dengan POSTGRES_PASSWORD>
PORT=5432                               # port default odoo dalam container <tidak perlu diubah>

# File ini mendefinisikan variabel lingkungan untuk Docker Compose
# Variabel untuk Nama Layanan
APP_SERVICE_NAME=my_web_app_service

# Variabel untuk Nama Container
APP_CONTAINER_NAME=my_nginx_container

CUSTOM_ADDONS_PATH=../../../customize/santosa-project

# Variabel untuk Port
APP_HOST_PORT=8080 # Port di host Anda
APP_CONTAINER_PORT=80 # Port di dalam container Nginx

# Variabel untuk Nama Volume
APP_VOLUME_NAME=my_nginx_data

# Variabel untuk Nama Jaringan
APP_NETWORK_NAME=prod_santosa_project_network